<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li>© 2022</li>
            <li>|</li>
            <li>All Rights Reserved</li>
            <li>|</li>
            <li>Developed with </li>
            <li>Havryliuk Aleksandr</li>
        </ul>
        <ul class="footer__icon-list">
            <li>
                <a href="https://instagram.com/al_gavrilyuk?igshid=MDM4ZDc5MmU=">
                    <svg width="23" height="23">
                        <use href="./images/platforms.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com/AlekasndrHavryliuk">
                    <svg width="23" height="23">
                        <use href="./images/platforms.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://t.me/algavriluk" class="telegram-icon">
                    <svg width="23" height="23">
                        <use href="./images/platforms.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>