<header class="header">
    <div class="container header-container">
        <div class="header-logo logo">
            <a href="#"><svg width="100">
                    <use href="./images/platforms.svg#icon-gamepad"></use>
                </svg>
                <span>Good Game</span>
            </a>
        </div>
        <ul class="header-navigation">
            <li><a data-action="openGenreList" href="#">Genres</a> </li>
            <li><a class="isActivePage" data-action="openHome" href=" #">Home</a> </li>
            <li><a href="#">About</a> </li>
        </ul>
    </div>
</header>