<main>
    <section class="main-section">
        <div class="container">
            <div class="details isHidden">
                <div class="details__content">
                    <button class="details__closeBtn" data-action="closeDetails">
                        <svg data-action="closeDetails">
                            <use data-action="closeDetails" href="./images/platforms.svg#icon-close"></use>
                        </svg>
                    </button>
                    <div class="details__info"></div>
                </div>
            </div>
            <div class="genre-list isHidden"></div>
            <ul class="gallery">
                <!-- <div data-action="prevPage" class="undo isHidden">
                    <svg data-action="prevPage">
                        <use data-action="prevPage" href="./images/platforms.svg#icon-undo2"></use>
                    </svg>
                </div>
                <div data-action="nextPage" class="redo">
                    <svg data-action="nextPage">
                        <use data-action="nextPage"" href=" ./images/platforms.svg#icon-redo2"></use>
                    </svg>
                </div> -->
            </ul>
            <div class="under__redo">
                <button data-action="nextPage">Load more</button>
            </div>
        </div>
    </section>
</main>