.details {
  width: 100%;
  background: white;
  transition-duration: 300ms;

  & p {
    font-size: 20px;
    margin-top: 20px;
  }
}

.details__content {
  padding: 15px;
  width: 100%;
  height: 100%;
  position: relative;
}

.details__closeBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 70px;
  background: transparent;
  border: none;
  transition-duration: 300ms;

  & > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    fill: red;
  }
}

.details__info {
  width: 100%;
  clear: both;
  display: flex;

  & > div {
    width: 50%;
    height: auto;
  }
}

.details__image-wrapper {
  & > img {
    width: 100%;
  }
}

.details__info-text {
  padding: 20px 60px;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;

  & > h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.details__info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  font-size: 20px;
  width: 70%;
}
