.pagination {
  height: 100%;
  width: 100px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;

  & > svg {
    width: 100%;
  }

  &:hover {
    background: aqua;
  }
}

.undo {
  @extend .pagination;
  left: -120px;
}

.redo {
  @extend .pagination;
  right: -120px;
}

.under__redo {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    padding: 15px 30px;
    font-size: 18px;
    transition: all 0.3;
    color: black;
    background: transparent;
    border: 1px solid black;

    &:hover {
      background: black;
      color: white;
    }
  }
}
